@font-face {
    font-family: "ScopeOne";
    src: url(../assets/font/ScopeOne-Regular.ttf);
}

// Theme Colors
$blue: #3498db;
$bg1: #fafafa;
$white: #FFFFFF;
$text-color: #999999;
$black: #000000;


// Font
$font-sm: 300 15px/1.65 "ScopeOne";
$font-md: 300 18px/1.65 "ScopeOne";
$font-lg: 500 1.75rem/1.5 "ScopeOne";
$font-xl: 700 4rem/1.5 "ScopeOne";

// Time
$time: 0.3s;

